  <section id="experiencia">
    <div class="section-title-container">
      <span class="ghost-text">Experience</span>
      <h2><i class="fas fa-briefcase"></i>Minha <span style="color: #00ccff;">Experiência</span></h2>
    </div>
    <div class="box experience-item">
      <h3>Estudante / Desenvolvedor em Formação</h3>
      <span>Estácio de Sá | Março de 2025 - Presente</span>
      <ul>
        <li>Aplicação prática de lógica de programação em projetos acadêmicos e pessoais utilizando C, Python e Java.</li>
        <li>Desenvolvimento de interfaces básicas com HTML e CSS, focando em usabilidade e design responsivo.</li>
        <li>Colaboração em projetos em grupo, aprimorando habilidades de comunicação e trabalho em equipe.</li>
        <li>Exploração de conceitos de controle de versão utilizando Git e GitHub para gerenciamento de código.</li>
      </ul>
    </div>
  </section>
