  <section id="home" class="hero-section">
    <div class="hero-content-box">
      <p class="welcome-text">Olá, eu sou o</p>
      <h1 class="name-gradient">Douglas Vinicius</h1>
      <p class="developer-text" id="typing-text">Desenvolvedor Fullstack.</p>
      <div class="hero-buttons">
        <a href="#contato" class="btn"><i class="fas fa-envelope"></i> Contato</a>
        <a href="Site/Curriculo-Douglas-Vinicius.pdf" class="btn secondary" target="_blank" rel="noopener noreferrer" type="application/pdf"><i class="fas fa-download"></i> Currículo</a>
      </div>
    </div>
  </section>
